@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
* {
	font-family: "Montserrat", sans-serif !important;
}
body {
	font-family: "Montserrat", sans-serif;
	margin-top: 5rem;
	min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: black;
}

.picture{
    width:200px;
    height:200px;
    border-radius:100%;
    position: absolute;
	margin-top: -10rem;
    
}

